# Build directories
build-*
.ccache
cmake-build-*

# IDE directories
.vscode
.idea
.devcontainer

# Git
.git
.gitignore
.gitmodules

# Documentation
*.md
LICENSE

# Tests
tests/.pytest_cache
tests/__pycache__

# Third party
third_party

# Temporary files
*.tmp
*.log
*.swp
*~

# GitHub
.github
