global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    retries 3

# Балансировка read-запросов между PostgreSQL репликами
frontend postgres_read_frontend
    bind *:5432
    default_backend postgres_replicas

backend postgres_replicas
    balance roundrobin
    option pgsql-check user testsuite
    default-server inter 5s fall 2 rise 3 on-marked-down shutdown-sessions
    server replica1 postgres-replica-1:5432 check
    server replica2 postgres-replica-2:5432 check

# Дашборд статистики HAProxy (http://localhost:8404/stats)
frontend stats_frontend
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
